@import url(https://db.onlinewebfonts.com/c/1ce44cc25409dd2c93dd1163395cfc8f?family=Samsung+Sharp+Sans+Bold);
@import url(https://db.onlinewebfonts.com/c/00487ece712f86b9b503997ceb17daff?family=SamsungOne-700);
@import url(https://db.onlinewebfonts.com/c/174b2ec3d1b18323f2021ce3fdda6028?family=SamsungOne-400);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Samsung Sharp Sans Bold";
}

.S400 {
  font-family: "SamsungOne-400";
}

.S700 {
  font-family: "SamsungOne-700";
}
